<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="35" android:compileSdkVersionCodename="15" package="kr.or.aiedu.android.argos.mdm" platformBuildVersionCode="35" platformBuildVersionName="15">
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:maxSdkVersion="22" android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ADD_SYSTEM_SERVICE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.DELETE_PACKAGES"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_APP_MGMT"/>
    <uses-permission android:name="com.sec.enterprise.knox.permission.KNOX_APP_MGMT"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_BLUETOOTH"/>
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_BROWSER_SETTINGS"/>
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_ENTERPRISE_DEVICE_ADMIN"/>
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_HW_CONTROL"/>
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_INVENTORY"/>
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_LOCATION"/>
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_LOCKSCREEN"/>
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_PHONE_RESTRICTION"/>
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_RESTRICTION_MGMT"/>
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_ROAMING"/>
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_SECURITY"/>
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_WIFI"/>
    <uses-permission android:name="com.samsung.android.knox.permission.CUSTOM_SETTING"/>
    <uses-permission android:name="com.samsung.android.knox.permission.CUSTOM_SYSTEM"/>
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_CUSTOM_SYSTEM"/>
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_CUSTOM_SETTING"/>
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_CUSTOM_PROKIOSK"/>
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_REMOTE_CONTROL"/>
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_FIREWALL"/>
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_MULTI_USER_MGMT"/>
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_KIOSK_MODE"/>
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_DATE_TIME"/>
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_DEX"/>
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_ADVANCED_RESTRICTION"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" android:usesPermissionFlags="neverForLocation"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission-sdk-23 android:name="android.permission.PACKAGE_USAGE_STATS"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <permission android:name="com.dkitec.android.argos.mdm.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-feature android:name="android.hardware.nfc" android:required="false"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.software.leanback" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <permission android:name="com.dkitec.mdm.android.permission.USER_LOGIN" android:protectionLevel="signature"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="com.dkitec.mdm.android.permission.USER_LOGIN"/>
    <permission android:name="com.dkitec.mdm.android.permission.USER_LOGOUT" android:protectionLevel="signature"/>
    <uses-permission android:name="com.dkitec.mdm.android.permission.USER_LOGOUT"/>
    <uses-permission android:name="com.dkitec.mdm.android.permission.MDM_POLICY_APPLY_RESULT"/>
    <uses-permission android:name="android.permission.BIND_DEVICE_ADMIN"/>
    <uses-permission android:maxSdkVersion="32" android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.USE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SYSTEM_EXEMPTED"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_ATTRIBUTION"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_AD_ID"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.flash" android:required="false"/>
    <uses-feature android:name="android.hardware.screen.landscape" android:required="false"/>
    <uses-feature android:name="android.hardware.wifi" android:required="false"/>
    <permission android:name="kr.or.aiedu.android.argos.mdm.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" android:protectionLevel="signature"/>
    <uses-permission android:name="kr.or.aiedu.android.argos.mdm.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <application android:allowBackup="false" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:extractNativeLibs="false" android:fullBackupContent="false" android:hardwareAccelerated="true" android:icon="@mipmap/icon2_1" android:label="@string/app_name" android:largeHeap="true" android:name="com.dkitec.android.argos.mdm.application.ArgosMDMApplication" android:requestLegacyExternalStorage="true" android:resizeableActivity="false" android:supportsRtl="true" android:testOnly="false" android:theme="@style/AppTheme">
        <activity android:exported="true" android:launchMode="singleTop" android:name="com.dkitec.android.argos.mdm.ui.activity.newui.NewUiMainActivity" android:screenOrientation="fullSensor" android:theme="@style/NewAppTheme" android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:launchMode="singleTop" android:name="com.dkitec.android.argos.mdm.ui.activity.MainActivity" android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="*/*"/>
            </intent-filter>
        </activity>
        <activity android:launchMode="singleTop" android:name="com.dkitec.android.argos.mdm.ui.activity.newui.NewUiDialogActivity" android:theme="@style/NewUiDialogTheme"/>
        <activity android:name="com.dkitec.android.argos.mdm.ui.activity.newui.NewUiPushAlertActivity" android:theme="@style/NewUiDialogTheme"/>
        <activity android:configChanges="orientation|screenSize" android:launchMode="singleTask" android:name="com.dkitec.android.argos.mdm.ui.activity.newui.NewUiBeepAlertActivity" android:theme="@style/NewUiDialogTheme"/>
        <receiver android:exported="true" android:name="com.dkitec.android.argos.mdm.receivers.KMLicenseReceiver">
            <intent-filter>
                <action android:name="edm.intent.action.license.status"/>
                <action android:name="edm.intent.action.knox_license.status"/>
                <action android:name="com.samsung.android.knox.intent.action.LICENSE_STATUS"/>
                <action android:name="com.samsung.android.knox.intent.action.KNOX_LICENSE_STATUS"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="true" android:name="com.dkitec.android.argos.mdm.receivers.KnoxReceiver">
            <intent-filter>
                <action android:name="com.sec.knox.container.INTENT_KNOX_USER_CHANGED"/>
                <action android:name="android.intent.action.USER_BACKGROUND"/>
                <action android:name="android.intent.action.USER_FOREGROUND"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="true" android:name="com.dkitec.android.argos.mdm.receivers.GpsLocationReceiver">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:foregroundServiceType="dataSync|systemExempted" android:name="com.dkitec.android.argos.mdm.service.usageStats.StatsProcessIntentService"/>
        <service android:exported="false" android:foregroundServiceType="dataSync|systemExempted" android:name="com.dkitec.android.argos.mdm.service.permissionCheck.PermissionCheckIntentService"/>
        <meta-data android:name="com.samsung.knoxlicense.permissions" android:value="true"/>
        <provider android:authorities="kr.or.aiedu.android.argos.mdm.androidx-startup" android:exported="false" android:name="androidx.startup.InitializationProvider">
            <meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.lifecycle.ProcessLifecycleInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.profileinstaller.ProfileInstallerInitializer" android:value="androidx.startup"/>
        </provider>
        <meta-data android:name="com.google.android.actions" android:resource="@xml/circle_progress"/>
        <activity android:name="com.dkitec.android.argos.mdm.ui.activity.KMAdminAlertActivity" android:theme="@style/AppDialogTheme"/>
        <activity android:launchMode="singleInstance" android:name="com.dkitec.android.argos.mdm.ui.activity.KMPushAlertActivity" android:theme="@style/AppDialogTheme"/>
        <activity android:name="com.dkitec.android.argos.mdm.ui.activity.KMMsgAlertActivity" android:theme="@style/AppDialogTheme"/>
        <activity android:launchMode="singleTop" android:name="com.dkitec.android.argos.mdm.ui.activity.LocalSyncStatusActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTop" android:name="com.dkitec.android.argos.mdm.ui.activity.newui.NewLocalSyncStatusActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTop" android:name="com.dkitec.android.argos.mdm.ui.activity.LocalSyncDeviceSelectActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTop" android:name="com.dkitec.android.argos.mdm.ui.activity.newui.NewLocalSyncDeviceSelectActivity" android:screenOrientation="portrait"/>
        <receiver android:description="@string/device_manager_description" android:exported="true" android:label="@string/device_manager_string" android:name="com.dkitec.android.argos.mdm.receivers.admin.AdminStatusReceiver" android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data android:name="android.app.device_admin" android:resource="@xml/device_manager"/>
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED"/>
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLE_REQUESTED"/>
            </intent-filter>
        </receiver>
        <service android:exported="true" android:name="com.dkitec.android.argos.mdm.push.KMFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:exported="false" android:foregroundServiceType="dataSync|systemExempted" android:name="com.dkitec.android.argos.mdm.service.initial.InitialProcedureIntentService"/>
        <service android:exported="false" android:foregroundServiceType="dataSync|systemExempted" android:name="com.dkitec.android.argos.mdm.service.klmResult.AdminResultReportIntentService"/>
        <service android:exported="false" android:foregroundServiceType="dataSync|systemExempted" android:name="com.dkitec.android.argos.mdm.service.policyApply.PolicyApplyIntentService"/>
        <service android:exported="false" android:foregroundServiceType="dataSync|systemExempted" android:name="com.dkitec.android.argos.mdm.service.agentAlive.AgentAliveIntentService"/>
        <service android:exported="false" android:foregroundServiceType="dataSync|systemExempted" android:name="com.dkitec.android.argos.mdm.service.getCmd.GetCommandIntentService"/>
        <service android:exported="false" android:foregroundServiceType="dataSync|systemExempted" android:name="com.dkitec.android.argos.mdm.service.execCmd.ExecuteCommandIntentService"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.dkitec.android.argos.mdm.receivers.KMNetworkAndBootReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:foregroundServiceType="dataSync|systemExempted" android:name="com.dkitec.android.argos.mdm.service.appListReport.ApplistReportIntentService"/>
        <service android:exported="false" android:foregroundServiceType="dataSync|systemExempted" android:name="com.dkitec.android.argos.mdm.service.downloadInstall.DownloadAndInstallIntentService"/>
        <service android:exported="false" android:foregroundServiceType="dataSync|systemExempted" android:name="com.dkitec.android.argos.mdm.service.sendFailed.SendFailedRequestIntentService"/>
        <receiver android:enabled="true" android:exported="true" android:name="com.dkitec.android.argos.mdm.receivers.KMUpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:foregroundServiceType="dataSync|systemExempted" android:name="com.dkitec.android.argos.mdm.service.update.AfterUpdateIntentService"/>
        <service android:foregroundServiceType="dataSync|systemExempted" android:name="com.dkitec.android.argos.mdm.bleservice.BleScanService"/>
        <service android:exported="false" android:foregroundServiceType="dataSync|systemExempted" android:name="com.dkitec.android.argos.mdm.service.tokenRefresh.TokenRefreshIntentService"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.dkitec.android.argos.mdm.receivers.BluetoothReceiver">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="false" android:name="com.dkitec.android.argos.mdm.receivers.ScreenStatusChangedReceiver"/>
        <service android:exported="false" android:foregroundServiceType="location" android:name="com.dkitec.android.argos.mdm.service.bluetooth.BluetoothStateManagerIntentService"/>
        <activity android:name="com.dkitec.android.argos.mdm.ui.activity.RequestBTEnableActivity" android:theme="@android:style/Theme.Translucent"/>
        <activity android:name="com.dkitec.android.argos.mdm.ui.activity.AdminSettingActivity"/>
        <service android:enabled="true" android:exported="true" android:name="com.dkitec.argos.mdm.interfacelibrary.service.MDMBindInterfaceService">
            <intent-filter>
                <action android:name="com.dkitec.argos.action.REQUEST_BIND"/>
            </intent-filter>
        </service>
        <activity android:excludeFromRecents="true" android:exported="true" android:label="@string/app_name" android:launchMode="singleTask" android:name="com.dkitec.android.argos.mdm.ui.activity.LockScreenActivity" android:noHistory="true" android:screenOrientation="portrait" android:showOnLockScreen="true" android:showWhenLocked="true" android:theme="@style/AppTheme"/>
        <service android:foregroundServiceType="dataSync|systemExempted" android:name="com.dkitec.android.argos.mdm.service.lockscreen.LockScreenService"/>
        <receiver android:enabled="true" android:exported="true" android:name="com.dkitec.android.argos.mdm.receivers.LockScreenReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service android:name="com.dkitec.android.argos.mdm.service.checkLocation.LocationRequestJobIntentService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:name="com.dkitec.android.argos.mdm.service.checkLocation.CheckLocationJobIntentService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.dkitec.android.argos.mdm.receivers.CheckLocationJobReceiver">
            <intent-filter>
                <action android:name="com.dkitec.android.argos.mdm.receivers.CheckLocationJobReceiver.ALARM"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:foregroundServiceType="dataSync|systemExempted" android:name="com.dkitec.android.argos.mdm.service.contents.DownloadContentsIntentService"/>
        <service android:exported="false" android:foregroundServiceType="dataSync|systemExempted" android:name="com.dkitec.android.argos.mdm.service.contents.ContentsDownloadReportIntentService"/>
        <service android:exported="false" android:foregroundServiceType="dataSync|systemExempted" android:name="com.dkitec.android.argos.mdm.service.contents.DownloadManagerIntentService"/>
        <service android:exported="false" android:foregroundServiceType="dataSync|systemExempted" android:name="com.dkitec.android.argos.mdm.service.regIdRefresh.RegIdRefreshIntentService"/>
        <activity android:clearTaskOnLaunch="true" android:name="com.journeyapps.barcodescanner.CaptureActivity" android:screenOrientation="portrait" android:stateNotNeeded="true" android:theme="@style/zxing_CaptureTheme" android:windowSoftInputMode="stateAlwaysHidden"/>
        <receiver android:enabled="true" android:exported="true" android:name="com.dkitec.android.argos.mdm.receivers.SIMStateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.SIM_STATE_CHANGED"/>
            </intent-filter>
        </receiver>
        <activity android:name="com.dkitec.android.argos.mdm.ui.activity.RequestLocationTurnOnActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        <activity android:name="com.dkitec.android.argos.mdm.ui.activity.ContentsDownloadRecordActivity"/>
        <activity android:name="com.dkitec.android.argos.mdm.ui.activity.ControlFragmentActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dkitec.android.argos.mdm.ui.activity.newui.NewControlFragmentActivity" android:screenOrientation="portrait"/>
        <activity android:alwaysRetainTaskState="true" android:configChanges="orientation" android:enabled="true" android:exported="true" android:launchMode="singleTop" android:name="com.dkitec.android.argos.mdm.ui.activity.newui.NewTimeRestrictionActivity" android:noHistory="true">
            <intent-filter>
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <receiver android:enabled="true" android:exported="true" android:name="com.dkitec.android.argos.mdm.receivers.DownloadManagerReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:foregroundServiceType="dataSync|systemExempted" android:name="com.dkitec.android.argos.mdm.service.contents.ContentsDownloadRecordIntentService"/>
        <service android:foregroundServiceType="dataSync|systemExempted" android:name="com.dkitec.android.argos.mdm.ftp.FsService"/>
        <service android:name="com.dkitec.android.argos.mdm.ftp.NsdService"/>
        <service android:foregroundServiceType="dataSync|systemExempted" android:name="com.dkitec.android.argos.mdm.ftp.AutoConnect$BackgroundService"/>
        <service android:foregroundServiceType="dataSync|systemExempted" android:name="com.dkitec.android.argos.mdm.ftp.AutoConnect$StartServerService"/>
        <service android:foregroundServiceType="dataSync|systemExempted" android:name="com.dkitec.android.argos.mdm.ftp.AutoConnect$StopServerService"/>
        <service android:foregroundServiceType="dataSync|systemExempted" android:name="com.dkitec.android.argos.mdm.service.localSync.LocalSyncIntentService"/>
        <service android:exported="false" android:foregroundServiceType="location" android:name="com.dkitec.android.argos.mdm.service.wifiAPLock.WifiAPScanService"/>
        <service android:exported="false" android:foregroundServiceType="dataSync|systemExempted" android:name="com.dkitec.android.argos.mdm.service.wifiAPLock.WifiAPLockCheckIntentService"/>
        <service android:exported="false" android:foregroundServiceType="dataSync|systemExempted" android:name="com.dkitec.android.argos.mdm.service.wifiAPLock.WifiAPLockAlertService"/>
        <activity android:name="com.dkitec.android.argos.mdm.ui.activity.WifiAPListActivity"/>
        <service android:exported="false" android:foregroundServiceType="location" android:name="com.dkitec.android.argos.mdm.service.locationReport.LocationReportRequestService"/>
        <service android:exported="false" android:foregroundServiceType="location" android:name="com.dkitec.android.argos.mdm.service.locationReport.LocationReportSendIntentService"/>
        <service android:exported="false" android:foregroundServiceType="dataSync|systemExempted" android:name="com.dkitec.android.argos.mdm.service.findDevice.FindDeviceRingTonePlayingService"/>
        <service android:exported="false" android:foregroundServiceType="dataSync|systemExempted" android:name="com.dkitec.android.argos.mdm.service.blackListSync.BlackListSyncIntentService"/>
        <service android:exported="false" android:foregroundServiceType="location" android:name="com.dkitec.android.argos.mdm.service.location.GPSLocationService"/>
        <service android:exported="false" android:foregroundServiceType="dataSync|systemExempted" android:name="com.dkitec.android.argos.mdm.service.lockSound.LockSoundPlayService"/>
        <activity android:name="com.dkitec.android.argos.mdm.ui.activity.TestActivity"/>
        <service android:exported="false" android:foregroundServiceType="dataSync|systemExempted" android:name="com.dkitec.android.argos.mdm.service.agentUpdate.AgentUpdateIntentService"/>
        <receiver android:enabled="true" android:exported="true" android:name="com.dkitec.android.argos.mdm.receivers.IntentInterfaceBroadcastReceiver">
            <intent-filter>
                <action android:name="com.dkitec.android.argos.mdm.service.activity.TopActivityWatchService.start"/>
                <action android:name="com.dkitec.android.argos.mdm.service.activity.TopActivityWatchService.stop"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:foregroundServiceType="dataSync|systemExempted" android:name="com.dkitec.android.argos.mdm.service.activity.TopActivityWatchService"/>
        <service android:exported="false" android:foregroundServiceType="dataSync|systemExempted" android:name="com.dkitec.android.argos.mdm.service.devInfo.DevInfoReportIntentService"/>
        <meta-data android:name="android.max_aspect" android:value="2.4"/>
        <activity android:name="com.karumi.dexter.DexterActivity" android:theme="@style/Dexter.Internal.Theme.Transparent"/>
        <activity android:configChanges="mcc|mnc|locale|keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|layoutDirection|fontScale" android:name="com.gun0912.tedpermission.TedPermissionActivity" android:screenOrientation="unspecified" android:theme="@style/Theme.Transparent.Permission"/>
        <provider android:authorities="kr.or.aiedu.android.argos.mdm.tedpermissionprovider" android:exported="false" android:name="com.gun0912.tedpermission.provider.TedPermissionProvider"/>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.FirebaseCrashlyticsKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.sessions.FirebaseSessionsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.ktx.FirebaseCommonLegacyRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.FirebaseCommonKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
            <meta-data android:name="com.google.android.gms.cloudmessaging.FINISHED_AFTER_HANDLED" android:value="true"/>
        </receiver>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:enabled="true" android:exported="false" android:name="com.google.firebase.sessions.SessionLifecycleService"/>
        <uses-library android:name="androidx.window.extensions" android:required="false"/>
        <uses-library android:name="androidx.window.sidecar" android:required="false"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_job_service_default" android:exported="true" android:name="androidx.work.impl.background.systemjob.SystemJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_foreground_service_default" android:exported="false" android:name="androidx.work.impl.foreground.SystemForegroundService"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="false" android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"/>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver">
            <intent-filter>
                <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"/>
            </intent-filter>
        </receiver>
        <service android:directBootAware="true" android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService"/>
        <service android:exported="true" android:name="com.google.android.gms.nearby.exposurenotification.WakeUpService" android:permission="com.google.android.gms.nearby.exposurenotification.EXPOSURE_CALLBACK"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <provider android:authorities="kr.or.aiedu.android.argos.mdm.firebaseinitprovider" android:directBootAware="true" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <uses-library android:name="android.ext.adservices" android:required="false"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.profileinstaller.ProfileInstallReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
    </application>
</manifest>
